<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Test Suite" verbose="1" parallel="tests" thread-count="2">
    
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <!-- Suite-level parameters -->
    <parameter name="environment" value="qa"/>
    
    <!-- User Tests Group -->
    <test name="User Tests">
        <classes>
            <class name="com.booker.api.tests.UserCrudTest"/>
            <class name="com.booker.api.tests.UserNegativeTest"/>
        </classes>
    </test>
    
    <!-- Post Tests Group -->
    <test name="Post Tests">
        <classes>
            <class name="com.booker.api.tests.PostCrudTest"/>
            <class name="com.booker.api.tests.PostNegativeTest"/>
        </classes>
    </test>
    
</suite>
